html {
 height: 100%; 
}

body {
  margin: 0;
  padding: 0;
  
  color: #fcfcfc;
  font-family: "Lobster", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column; 
}

::-webkit-scrollbar {
    display: none;
}



/* -------- Background Image -------------*/

.bg-img-home {
   background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
      url("../images/dogs-field.jpg") no-repeat center center fixed;
}

.bg-img-services {
   background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../images/services-image.jpg") no-repeat center center fixed;
}

.bg-img-gallery {
    background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
      url("../images/landscape.jpg") no-repeat center center fixed;
}

.bg-img-contact {
   background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
      url("../images/dogs-field.jpg") no-repeat center center fixed;
}

.bg-img {
  position: relative;  
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;  
}


/*------------------- NavBar ---------------------*/

.navbar {
    margin: 15px;
    padding: 0;
    font-size: 30px;
    
}

.navbar-logo{
    color: #c2c2c2;
    border: none;
    outline: none;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-logo:hover {
    color: #f2f2f2;
    text-decoration: none;
    
}

.navbar nav {
    align-items: flex-end;
    margin-right: 10px;
}

.navbar .navbar-brand {
  color: #f2f2f2;
  padding: 10px;
}

.navbar .navbar-toggler {
  border: 1px solid;
  outline: none;
  color: #fcfcfc;
  padding: 10px;
}


.navbar-dark .navbar-nav .nav-link {
  color: #c2c2c2;
  padding: 0 10px 10px;
}

.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fffcf2;
}

/*--------Page Title -----------------*/

.page-title {
  margin-top: 300px;
  margin-bottom: auto;
  align-self: center;
}

.page-title h1 { 
  font-size: 70px;
  margin-bottom: 0;
  padding: 0 20px;
}

.gallery-page-title {
  margin:0;
  align-self: center; 
}

.gallery-page-title h1 {
  font-size: 50px;
  margin-bottom: 20px;
  padding: 0;
}

.services-page-title {
    margin: 0;
    align-self: center;
}

.services-page-title h1 {
    font-size: 50px;
    margin-bottom: 0;
    padding: 0;
}

.contact-page-title{
    margin: auto;
    margin-bottom: auto;
    align-self: center;
}
.contact-page-title h1 {
    font-size: 50px;
}

/*---------- About Modal ---------------*/
.modal-content {
  background-color: #fffded;
  padding: 20px;
}

.modal-header {
  border-bottom: none;
  padding: 20px;
}

.modal-title {
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #636363;
}
.modal-body {
  color: #636363;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  padding: 0 20px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
}

.modal-body .about-img {
  max-width: 50%;
  margin-bottom: 20px;
}

.modal-footer {
  border-top: none;
}

.modal-footer .btn {
  background-color: #636363;
  color: #fffded;
  padding: 15px 30px;
  letter-spacing: 5px;
}

.modal-footer .btn:hover {
  background-color: #2e2e2e;
  border: none;
}

/*--------------- Services -----------------*/

.card-pricing .list-unstyled li {
     padding: .5rem 0;
     color: #fffded;
     font-weight: 300;
     font-family: "Roboto", sans-serif;
     
 }

 .card-pricing:hover {
      border-radius: 2px;
      border-color: #fffded;
      background: rgba(81, 81, 81, 0.57);
 }

 .card {
     background: rgba(61, 61, 61, 0.36);
 }

 .btn {
     border-radius: 1px;
     font-weight: 300;
     background: #fffded;
     
 }

 .btn:hover {
     color: #fffded;
     background-color:  #636363;
     border: 2px solid #fffded;
 }

.card-body-terms {
    font-family:"Roboto", sans-serif;
}

#reviews {
    background: rgba(61, 61, 61, 0.65);
}

#first-review {
    float: left;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px;
}

#second-review {
    float: right;
    font-size: 20px;
    margin-top: 20px;
    padding: 15px;
}

#third-review {
    font-size: 20px;
    margin-top: 20px;
    padding: 15px;
}
/*----------------Bootstrap Gallery Carousel------------*/


#gallery img {
  height: 75vw;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-bottom: 0px;    
}

.row {
    margin: 0;
}

.carousel-item img {
  height: 60vw;
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery.custom {
  padding: 0 15px;
}
#gallery.custom img {
  display: block;
  margin: 0;
  border-radius: 300px 30px 300px 300px;
}
#gallery.custom img:hover {
  border-radius: 30px 90px 30px 30px;
}

#galleryModal.custom .modal-content {
  background: none;
  border: none;
}
#galleryModal.custom .modal-header {
  border: none;
}
#galleryModal.custom .modal-header button {
  background: none;
  border-radius: 100px 100px 0 0;
  padding: 5px 10px;
  opacity: 1;
  position: relative;
  top: 3px;
  border: solid 2px white;
}

#galleryModal.custom .modal-header button:hover {
  top: 3px;
}
#galleryModal.custom .modal-header span {
  color: white;
}
#galleryModal.custom .modal-body {
  padding: 0;
  border: none;
  position: relative;
}
#galleryModal.custom .modal-body::before, #galleryModal.custom .modal-body::after {
  content: '';
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
  background: white;
  border-radius: 3px 10px;
}

#galleryModal.custom .modal-body::before {
  top: -5px;
  left: -5px;
}

#galleryModal.custom .modal-body::after {
  bottom: -5px;
  right: -5px;
  z-index: -1;
}

#galleryModal.custom .modal-footer {
  border: none;
  margin-top: 60px;
}

#galleryModal.custom .carousel-control-prev, #galleryModal.custom .carousel-control-next {
  font-size: 2em;
  top: auto;
  opacity: 1;
  bottom: -52px;
}

#galleryModal.custom .carousel-control-next-icon, #galleryModal.custom .carousel-control-prev-icon {
  height: 30px;
  width: 30px;
}

#galleryModal.custom .carousel-indicators {
  bottom: -60px;
}

#galleryModal.custom .carousel-indicators li {
  height: 30px;
  border-radius: 100px;
  background: none;
  border: solid 2px white;
}

#galleryModal.custom .carousel-indicators li:hover {
  background: white;
}
#galleryModal.custom .carousel-indicators li.active {
  background: white;
}

/*-------------Contact page --------------------*/

.contact-description p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.contact-info a {
    color: #fffded;
}

.contact-info span {
    text-decoration: underline;
    font-weight: 500;
}

.contact-form {
    background-color: rgba(81, 81, 81, 0.57);
    border-color: #fffded;
    color: #fffded;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 5px;
    padding: 30px;
    text-align: left;
    text-transform: none;
}

.contact-form textarea {
  height: 200px;
  resize: none;
}

.contact-form .btn {
    font-family: "Lobster", sans-serif;
    font-size: 22px;
    letter-spacing: 2px;
    padding: 15px 30px;

}

::placeholder {
    color: #636363
}

/*----------------Social Links---------------*/

.footer-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;

}

.footer-fixed i {
    color: #c2c2c2;
    display: inline-block;
    padding: 5px;
    margin-bottom: 30px;
    letter-spacing: 15px;
    text-align: center;
}

.footer-fixed i:hover {
    color: #fcfcfc;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
}

.footer i {
    color: #c2c2c2;
    display: inline-block;
    padding: 5px;
    margin-bottom: 30px;
    letter-spacing: 15px;
    text-align: center;
}

.footer i:hover {
    color: #fcfcfc;
}


/*---------------Media Querys---------------*/

@media only screen  and (max-width: 1020px) {
                    
                    .page-title {
                        margin-top: auto;
                    }
                    .page-title h1 {
                        padding: 0;
                        font-size: 2.5rem;
                    }
                    .footer-fixed {
                         position: relative;
                    }
                    .contact-form {
                        margin-top: 10px;
                        margin-bottom: 15px;
                    }
                    
                    #navbarToggler {
                        text-align: left;
                        background: rgba(81, 81, 81, 0.57);
                    }
      
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    #first-review {
        float: none;
    }
    #second-review {
        float: none;
     
  }
}

@media only screen and (min-width: 992px) and (max-width:1020px) {
    .footer-fixed {
      position: fixed;
    }
}


@media only screen and (max-width: 767px) {
    #generic_price_table .generic_content{
        margin-bottom:75px;
    }
    .footer-fixed {
        position: relative;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #generic_price_table .col-md-3{
        float:left;
        width:50%;
    }
    
    #generic_price_table {
        float:left;
        width:50%;
    }
    
    #generic_price_table .generic_content{
        margin-bottom:75px;
    }
}

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
    #gallery img {
    height: 35vw;
  }
  .carousel-item img {
    height: 350px;
    width: 100%;
  }
  .carousel-container #carousel-thumbs {
    position: absolute;
    background: #ccccce;
  }
}

@media only screen and (min-width: 992px) {
  #gallery img {
    height: 18vw;
  }
   #galleryModal.custom .carousel-indicators li {
    height: 10px;
  }
  #galleryModal.custom .carousel-indicators {
    bottom: -30px;
  }
  #galleryModal.custom .modal-footer {
    margin-top: 40px;
  }
  #galleryModal.custom .modal-header button {
    top: 15px;
  }
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (min-width: 768px) {
  #galleryModal.custom .modal-body::before, #galleryModal.custom .modal-body::after {
    border-radius: 3px 30px;
    height: 100px;
    width: 100px;
    top: -15px;
    left: 0px;
  }
  #galleryModal.custom .modal-body::after {
    bottom: -15px;
    right: 0px;
  }
  #exampleModal.custom .carousel-control-prev, #exampleModal.custom .carousel-control-next {
    top: 0;
    opacity: 0.5;
    bottom: 0;
  }
  #galleryModal.custom .carousel-control-prev {
    left: -90px;
  }
  #galleryModal.custom .carousel-control-next {
    right: -90px;
  }
}
