html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #fcfcfc;
  font-family: "Lobster", sans-serif;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
}


/* -------- Background Image -------------*/

.bg-img-home {
   background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
      url("../images/dogs-field.jpg");
}

.bg-img-services {
   background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
      url("../images/services-image.jpg");
}

.bg-img-gallery {
    background:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
      url("../images/landscape.jpg");
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
}


/*------------------- NavBar ---------------------*/

.navbar {
    margin: 15px;
    padding: 0;
    font-size: 30px;
    
}

.navbar-logo{
    color: #c2c2c2;
    border: none;
    outline: none;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-logo:hover {
    color: #f2f2f2;
    text-decoration: none;
    
}

.navbar nav {
    align-items: flex-end;
    margin-right: 10px;
}

.navbar .navbar-brand {
  color: #f2f2f2;
  padding: 10px;
}

.navbar .navbar-toggler {
  border: none;
  outline: none;
  color: #fcfcfc;
  padding: 10px;
}


.navbar-dark .navbar-nav .nav-link {
  color: #c2c2c2;
  padding: 0 10px 10px;
}

.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fffcf2;
}

/*--------Page Title -----------------*/

.page-title {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}

.page-title h1 { 
  font-size: 70px;
  margin-bottom: 0;
  padding: 0 20px;
}

.gallery-page-title {
  margin:0;
  align-self: center; 
}

.gallery-page-title h1 {
  font-size: 50px;
  margin-bottom: 0;
  padding: 0;
}

/*---------- Modal ---------------*/
.modal-content {
  background-color: #fffded;
  padding: 20px;
}

.modal-header {
  border-bottom: none;
  padding: 20px;
}

.modal-title {
  font-family: "Lobster", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #636363;
}
.modal-body {
  color: #636363;
  font-family: "Roboto", sans-serif;
  line-height: 2;
  padding: 0 20px;
  letter-spacing: 0;
  text-transform: none;
  text-align: center;
}

.modal-body .about-img {
  max-width: 50%;
  margin-bottom: 20px;
}

.modal-footer {
  border-top: none;
}

.modal-footer .btn {
  background-color: #636363;
  color: #fffded;
  padding: 15px 30px;
  letter-spacing: 5px;
}

.modal-footer .btn:hover {
  background-color: #2e2e2e;
  border: none;
}

/*----------------Bootstrap Gallery Carousel------------*/



.carousel-inner img {       
   height: auto; 
   max-width: 25%;
   margin-top: 100px;
}





/*----------------Social Links---------------*/

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    text-align: center;
    font-size: 2.2rem;

}

.fixed-footer i {
    color: #c2c2c2;
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
    letter-spacing: 15px;
}

.fixed-footer i:hover {
    color: #fcfcfc;
}



/*---------------Media Querys---------------*/

@media screen 
  and (min-device-width: 760px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

      .page-title h1 {
      padding: 0;
      font-size: 2.5rem;
  }

}